/* webkit solution */
::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; }

hr {
  width: 95%;
  border-style: solid;
  color: rgb(122, 167, 127);
}

input[type='text'], input[type='number'], input[type='month'] {
  border: 0;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
}

.form_section-input input[type='month'] {
  width: 140px;
}

.Revenu-container {
  margin: 0% auto;
  padding: 30px 0;
  background-color: #D0FBCC;
  min-height: 100vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(0, 0, 0);
}

.global_form {
  width: 100%;
}

.form_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form_section-label {
  width: 15%;
  text-align: end;
} 

.form_section-inputs {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}  

.form_section-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.form_section-input input {
  width: 120px;
  margin-bottom: 5px;
}

.form_section-input :first-child {
  width: 120px;
}

.form_section-result {
  width: 15%;
}  